#contact-info {
  font-size: 0.8em;
}

.job {
  background-color: #e9e5dc;
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
}

.practice {
  font-size: .8em;
}

section#contact-info p:first-of-type {
  color: red;
}


#listColor li:first-child {
  color: #008080;
}
